<!DOCTYPE html>
<html ng-app="orbApp">
<head>
	<title>Orb-Blitz!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="orbController">

	<div id="container">
		<div id="game-field" class="col-sm-12">
			<canvas id="the-canvas" style="background: url('img/starfield.jpg')">
				<!-- our drawing will go here -->
			</canvas>
			<div id="team-progress-wrapper" ng-show="onTeam">
				<div id="team-progress-bar" class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{myTeamScore}}"
				  aria-valuemin="0" aria-valuemax="100" style="width: {{(myTeamScore)}}%">
				  </div>
				</div>
			</div>
			<div id="score-wrapper" class="hiddenOnStart" hidden>
				<div>Score: <span>{{score}}</span></div>
			</div>
		<!-- LEADER BOARD -->
			<div id="leader-board-wrapper" class="hiddenOnStart" hidden>
				<div id="leader-board">
					<h3 class="text-center">Leaders</h3>
					<hr>
					<ol>
						<li class="leaderboard-player" ng-hide="sortTeams" ng-repeat="player in players | orderBy: sortOrder">{{player.name}}</li>
						<li class="leaderboard-player" ng-show="sortTeams" ng-repeat="team in teams | orderBy: sortOrder">{{team.name}}</li>
					</ol>
					<hr>
				</div>
				<div id="sort-wrapper">
					<div id="sort-header" class="text-center">SORT BY</div>
					<div id="sort-teams" class="sort-option" ng-click="sortBy('teamScore')">Teams</div>
					<div id="sort-score" class="sort-option active" ng-click="sortBy('score')">Score</div>
					<div id="sort-orbs" class="sort-option" ng-click="sortBy('orbsAbsorbed')">Orbs</div>
					<div id="sort-players" class="sort-option" ng-click="sortBy('playersAbsorbed')">Players</div>
				</div>
			</div>
			<div id="game-message-wrapper">
				<div id="game-message">{{gameMessage}}</div>
			</div>
		</div>
		
	</div>

			<!-- Modals -->
<!-- LOGIN MODAL -->
			<div id="loginModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<form class="name-form" ng-submit="login()">
								<input id="name-input" class="text-input text-center form-control" type="text" name="name-input" ng-model="playerName" placeholder="Enter your name here" required>
<!-- 								<input type="password" style="display: none" name=""> -->
								<input id="password-input" class="text-input text-center form-control" type="password" name="password-input" ng-model="playerPassword" placeholder="Enter your password here" required>
								<div class="text-center error-message" ng-show="errorMessage">{{errorMessage}}</div>
								<button type="submit" class="btn play-button">Login</button>
							</form>
							<div class="text-center">or</div>
							<button id="create-button" type="button" ng-click="gotoCreate()" class="btn">Create User</button>
						</div>
						<div class="modal-footer">
							<div id="instructions">
								<label id="how-to-play">How to play:</label>
								<ul>
									<li>Move your mouse on the screen to move your character.</li>
									<li>Absorb orbs by running over them in order to grow your character.</li>
									<li>The larger you get the slower you are.</li>
									<li>Objective: Absorb other players to get even larger but not lose speed.</li>
									<li>The larger player absorbs the smaller player.</li>
									<li>Press the "f" key to feed your teammate or a base.</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>

<!-- CREATE USER MODAL -->
			<div id="createModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<form class="name-form" ng-submit="createUser()">
								<input id="name-input" class="text-input text-center form-control" type="text" minlength="3" name="name-input" ng-model="playerName" placeholder="Enter your user name here" maxlength="10" required>
								<input id="password-input" class="text-input text-center form-control" type="password" minlength="6" name="password-input" ng-model="playerPassword" placeholder="Enter your password here" required>
								<input id="password-input2" class="text-input text-center form-control" type="password" minlength="6" name="password-input2" ng-model="playerPassword2" placeholder="Confirm password" required>
								<div class="text-center error-message" ng-show="errorMessage">{{errorMessage}}</div>
								<button id="create-button" type="button" ng-click="createUser()" class="btn">Submit</button>
							</form>
						</div>
						<div class="modal-footer">
							<div id="instructions">
								<label id="how-to-play">How to play:</label>
								<ul>
									<li>Move your mouse on the screen to move your character.</li>
									<li>Absorb orbs by running over them in order to grow your character.</li>
									<li>The larger you get the slower you are.</li>
									<li>Objective: Absorb other players to get even larger but not lose speed.</li>
									<li>The larger player absorbs the smaller player.</li>
									<li>Press the "f" key to feed your teammate or a base.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- START MODAL -->
			<div id="spawnModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<h3 class="text-center">Hello {{playerName}}!</h3>
							<div class="play-btn-wrapper">
								<button id="join-team-btn" type="button" ng-click="gotoJoinTeam()" class="btn play-button">Join a Team!</button>
								<button id="play-solo-btn" type="button" ng-click="startGame()" class="btn play-button">Play Solo!</button>
							</div>
							<div class="stats-btn-wrapper">
								<button type="button" ng-click="getPlayerStats()" class="btn stats-btn player-stats-btn">See your stats</button>
								<button type="button" ng-click="getAllStats()" class="btn stats-btn all-stats-btn">See all stats</button>
							</div>
						</div>
						<div class="modal-footer">
							<div id="instructions">
								<label id="how-to-play">How to play:</label>
								<ul>
									<li>Move your mouse on the screen to move your character.</li>
									<li>Absorb orbs by running over them in order to grow your character.</li>
									<li>The larger you get the slower you are.</li>
									<li>Objective: Absorb other players to get even larger but not lose speed.</li>
									<li>The larger player absorbs the smaller player.</li>
									<li>Press the "f" key to feed your teammate or a base.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- JOIN TEAM MODAL -->
			<div id="joinModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<h3 class="text-center">Hello {{playerName}}!</h3>
							<h2 class="text-center error-message" ng-show="errorMessage">{{errorMessage}}</h2>
							<ol id="team-list">
								<li class="teams" ng-repeat="team in teams track by $index">
									<span class="team">{{team.name}}  -  Current Players: {{team.players.length}}</span>
									<button ng-click="joinTeam($index)" class="btn join-button">Join and Play!</button>
								</li>
							</ol>
							<input ng-show="creatingTeam" id="team-input" class="text-input text-center" type="text" minlength="3" name="name-input" ng-model="teamName" placeholder="Enter your team name here" maxlength="10"  required>
							<div class="play-btn-wrapper">
								<button id="add-team-btn" ng-hide="addingTeam" type="button" ng-click="addTeam()" class="btn play-button">Add a Team!</button>
								<button ng-show="creatingTeam" id="create-team-btn" type="button" ng-click="createTeam()" class="btn play-button">Create Team!</button>
								<button id="create-play-solo-btn" type="button" ng-click="startGame()" class="btn play-button">Play Solo!</button>
							</div>
						</div>
						<div class="modal-footer">
							<div id="instructions">
								<label id="how-to-play">How to play:</label>
								<ul>
									<li>Move your mouse on the screen to move your character.</li>
									<li>Absorb orbs by running over them in order to grow your character.</li>
									<li>The larger you get the slower you are.</li>
									<li>Objective: Absorb other players to get even larger but not lose speed.</li>
									<li>The larger player absorbs the smaller player.</li>
									<li>Press the "f" key to feed your teammate or a base.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>			

<!-- DEATH MODAL -->
			<div id="deathModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 id="death-message" ng-hide="endGame" class="modal-title text-center">You were killed by: <span id="killed-by">{{killer}}</span></h2>
							<h2 id="end-game-message" ng-show="endGame" class="modal-title text-center">{{endGameMessage}}</h2>
							<div class="player-stats">Score: <span>{{score}}</span></div>
							<div class="player-stats">Orbs Absorbed: <span>{{orbsAbsorbed}}</span></div>
							<div class="player-stats">Players Absorbed: <span>{{playersAbsorbed}}</span></div>
						</div>
						<div class="modal-body">
							<div id="death-play-wrapper">
								<button id="death-respawn-btn" ng-hide="endGame" type="button" ng-click="startGame()" class="btn play-button">Respawn?</button>
								<button id="death-respawn-btn" ng-show="endGame" type="button" ng-click="playAgain()" class="btn play-button">Play Again?</button>
								<button id="death-leave-team-btn" type="button" ng-show="onTeam" ng-click="leaveTeam()" class="btn play-button">Leave Team?</button>
							</div>
							<div class="stats-btn-wrapper">
								<button  type="button" ng-click="getPlayerStats()" class="btn stats-btn player-stats-btn">See your stats</button>
								<button type="button" ng-click="getAllStats()" class="btn stats-btn all-stats-btn">See all stats</button>
							</div>
						</div>
						<div class="modal-footer">
							<div id="instructions">
								<label id="how-to-play">How to play:</label>
								<ul>
									<li>Move your mouse on the screen to move your character.</li>
									<li>Absorb orbs by running over them in order to grow your character.</li>
									<li>The larger you get the slower you are.</li>
									<li>Objective: Absorb other players to get even larger but not lose speed.</li>
									<li>The larger player absorbs the smaller player.</li>
									<li>Press the "f" key to feed your teammate or a base.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- Player Stats MODAL -->
			<div id="playerModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<h3 class="">{{playerName}}'s Stats:</h3>
							<div class="stats">High Score:</div><div class="stat-number">{{highScore}}</div>
							<div class="stats">Most Orbs Absorbed:</div><div class="stat-number">{{mostOrbsAbsorbed}}</div>
							<div class="stats">Most Players Absorbed:</div><div class="stat-number">{{mostPlayersAbsorbed}}</div>
						</div>
						<div class="modal-footer">
							<button type="button" ng-click="startGame()" class="btn play-button">Play Orb-Blitz!</button>
							<div class="btn-wrapper">
								<button id="playerStats-all-btn" type="button" ng-click="getAllStats()" class="btn stats-btn">See all stats</button>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- All Stats MODAL -->
			<div id="allModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">

				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">Orb-Blitz</h2>
						</div>
						<div class="modal-body">
							<table class="table">
								<thead>
									<tr>
										<th>Player Name</th>
										<th>High Score</th>
										<th>Most Orbs Abosrbed</th>
										<th>Most Players Absorbed</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="player in players|orderBy: '-highScore'|limitTo:10 track by $index">
										<td>{{player.playerName}}</td>
										<td>{{player.highScore}}</td>
										<td>{{player.mostOrbs}}</td>
										<td>{{player.mostPlayers}}</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="modal-footer">
							<button type="button" ng-click="startGame()" class="btn play-button">Play Orb-Blitz!</button>
							<div class="btn-wrapper">
								<button id="playerStats-player-btn" type="button" ng-click="getPlayerStats()" class="btn stats-btn">See your stats</button>
							</div>
						</div>
					</div>
				</div>
			</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>